<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="./styles.css">
</head>
<body>
    <div class="backg">
        <div class="bg-clouds">
            <div class="clouds container">
                <div class="topclouds"></div>
                <div class="topclouds2"></div>
            </div>
        </div>
        <div class="bg-clouds2">
            <div class="clouds container">
                <div class="topclouds"></div>
                <div class="topclouds2"></div>
            </div>
        </div>
        <div class="bg-clouds">
            <div class="clouds container">
                <div class="topclouds"></div>
                <div class="topclouds2"></div>
            </div>
        </div>
        <div class="bg-clouds3">
            <div class="clouds container">
                <div class="topclouds"></div>
                <div class="topclouds2"></div>
            </div>
        </div>
    </div>
</body>
</html>
